@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  margin: auto;
  overflow: hidden;
}
.embla__container {
  display: flex;
  grid-column-gap: 20px;
}

.embla__slide {
  flex: 0 0 100%;
  margin-right: 20px;
}
@media (min-width: 800px) {
  .embla__slide {
    flex: 0 0 30%; /* Breakpoint SM slide covers 50% of the viewport */
  }
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url("/banner.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.bg_topproducts {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/bg_topproducts.jfif");
  background-size: cover;
  background-position: center center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
